
<h1>Gong (Archer) Zhang</h1>
<body>
<div class="colmask holygrail">
    <div class="colmid">
        <div class="colleft">
            <div class="col1wrap">
                <div class="col1">
					<!-- Column 1 start -->
					<h2>About me</h2>
                    <p>I'm a student working towards Masters Degree in Information Networking - Mobile Engineering at Carnegie Mellon University. I received my B.S. degree in Computer Science and Engineering from Beihang University in July 2011. </p>
					<!-- Column 1 end -->
                </div>
            </div>
            <div class="col2">
				<!-- Column 2 start -->
                <img id="head" class="shadow" src="images/head.jpg" width="140" height="168" border="0" />
                <!-- Column 2 end -->
            </div>
            <div class="col3">
				<!-- Column 3 start -->
                <h2>Contact</h2>
                <a href="http://www.linkedin.com/in/gongzhang">LinkedIn</a> |
                <a href="https://github.com/gongz">GitHub</a> |
                <img src="images/email.jpg" width="140"/>
                <!-- Column 3 end -->
            </div>
        </div>
    </div>
</div>
<div class="colmask blogstyle">
    <div class="colmid">
        <div class="colleft">
            <div class="col1wrap">
                <div id="col1" class="col1">
					<!-- Column 1 start -->
					<h2>Open Source Projects</h2>
                    <ul>
                    <li><a href="http://nand.bicoup.com" id="nand"
                    title="Flash-Optimized Storage for Time-Series Sensing Data on Sensor Platforms">NAND Flash Driver on Sensors</a></li>
                    <li><a href="http://bestbay.herokuapp.com/" id="bestbay"
                    title="Ruby on Rails C2C Website">BestBay</a></li>
                    </ul>

            		<!-- Column 1 end -->
                </div>
            </div>
            <div class="col2">
				<!-- Column 2 start -->
                <h2></h2>
				<!-- Column 2 end -->

            </div>
            <div class="col3">
				<!-- Column 3 start -->
                <h2>My CV</h2>
                  <ul>
                  <li>CV in <a href="https://s3.amazonaws.com/sepersonal_test/CV_GongZhang_a.pdf">PDF</a> |</li>
                  </ul>
				<!-- Column 3 end -->
            </div>
        </div>

    </div>
</div>
<div class="colmask leftmenu">
    <div class="colright">
        <div class="col1wrap">
            <div id='more' class="col1">
                <!-- Column 2 start -->
                <h2></h2>
                <!-- Column 2 end -->
            </div>
        </div>
        <div class="col2">
            <!-- Column 1 start -->
            <h2>Gallery</h2>
           <div id="s3slider">
            <ul id="s3sliderContent">
              <li class="s3sliderImage">
                <%= link_to image_tag("images/nand_1.jpg"),"assets/images/nand_1.jpg",:popup => true  %>
                <span>Logic Analyzer Connected with MicaZ</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("images/nand_2.jpg"),"assets/images/nand_2.jpg",:popup => true %>
                <span>Debugging System</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("images/nand_3.jpg"),"assets/images/nand_3.jpg",:popup => true %>
                <span>NAND flash board</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("images/nand_4.jpg"),"assets/images/nand_4.jpg",:popup => true %>
                <span>Expansion board</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("images/nand_5.jpg"),"assets/images/nand_5.jpg",:popup => true %>
                <span>MicaZ, NAND flash, expansion board and MIB510</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("images/nand_6.jpg"),"assets/images/nand_6.jpg",:popup => true %>
                <span>Welded back of the energy test board</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("images/nand_7.jpg"),"assets/images/nand_7.jpg",:popup => true %>
                <span>Front of the energy test board</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("images/nand_8.png"),"assets/images/nand_8.png",:popup => true %>
                <span>Storage Structure</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("images/nand_9.png"),"assets/images/nand_9.png",:popup => true %>
                <span>Logic analyzer debugging</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("images/nand_10.jpg"),"assets/images/nand_10.jpg",:popup => true %>
                <span>UART debugging</span>
              </li>
              <div class="clear s3sliderImage"></div>
            </ul>
          </div>
            <!-- Column 1 end -->
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
  $('#nand').mouseover(function(){
   $("#more").load("nand.htm");


   return false;
});
$('#bestbay').mouseover(function(){
   $("#more").load("bestbay.htm");

   return false;
});
$('#head').mouseover(function(){
   $("#more").load("about.htm");

   return false;
});


$(document).ready(function() {
      // Main Ads Slider
      $('#s3slider').s3Slider({
          timeOut: 4000
      });

      // Item Gallery
      $('#items_gallery').carouFredSel({
          prev : {
              button: "#gallery_prev",
              key: "left"
          },
          next : {
              button: "#gallery_next",
              key: "right"
          },
          scroll : {
              items: 1,
              duration: 500,
              pauseOnHover: true
          },
          pagination: "#gallery_pag"
      });
  });
</script>