<h1>Gong (Archer) Zhang</h1>
<body>
<div class="colmask holygrail">
    <div class="colmid">
        <div class="colleft">
            <div class="col1wrap">
                <div class="col1">
					<!-- Column 1 start -->
					<h2>About me</h2>
                    <p>I'm a student working towards Masters Degree in Information Networking - Mobile Engineering at Carnegie Mellon University. I received my B.S. degree in Computer Science and Engineering from Beihang University in July 2011. </p>
					<!-- Column 1 end -->
                </div>
            </div>
            <div class="col2">
				<!-- Column 2 start -->
                <img id="head" class="shadow" src="images/head.jpg" width="140" height="168" border="0" />
                <!-- Column 2 end -->
            </div>
            <div class="col3">
				<!-- Column 3 start -->
                <h2>Contact</h2>
                <a href="http://www.linkedin.com/in/gongzhang">LinkedIn</a> |
                <a href="https://github.com/gongz">GitHub</a> |
                <img src="images/email.jpg" width="140"/>
                <!-- Column 3 end -->
            </div>
        </div>
    </div>
</div>
<div class="colmask blogstyle">
    <div class="colmid">
        <div class="colleft">
            <div class="col1wrap">
                <div id="col1" class="col1">
					<!-- Column 1 start -->
					<h2>Open Source Projects</h2>
                    <ul>
                    <li><a href="http://nand.staticloud.com/" id="nand"
                    title="Flash-Optimized Storage for Time-Series Sensing Data on Sensor Platforms">NAND Flash Driver on Sensors</a></li>
                    <li><a href="http://bestbay.herokuapp.com/" id="bestbay"
                    title="Ruby on Rails C2C Website">BestBay</a></li>
                    <li><a href="https://github.com/gongz/minesweeper" id="minesweeper"
                    title="Minesweeper cracker for win7">Minesweeper</a></li>
                    <li><a href="https://s3.amazonaws.com/sepersonal_test/executable/ChineseChess.zip" id="chess"
                    title="3D Chinese Chess Game">3D Chinese Chess</a></li>
                    <li><a href="https://s3.amazonaws.com/sepersonal_test/executable/iDLE_Beta_version.zip" id="volume"
                    title="Volume Control, Event Reminder, Screenshot">Windows Gadget</a></li>
                    </ul>
            		<!-- Column 1 end -->
                </div>
            </div>
            <div class="col2">
				<!-- Column 2 start -->
                <h2></h2>
                <div id="clustrmaps-widget"></div>
				<!-- Column 2 end -->

            </div>
            <div class="col3">
				<!-- Column 3 start -->
                <h2>My CV</h2>
                  <ul>
                  <li>CV in <a href="https://s3.amazonaws.com/sepersonal_test/CV_GongZhang_a.pdf">PDF</a> |</li>
                  </ul>
				<!-- Column 3 end -->
            </div>
        </div>

    </div>
</div>
<div class="colmask leftmenu">
    <div class="colright">
        <div class="col1wrap">
            <div id='more' class="col1">
                <!-- Column 2 start -->
                <h2></h2>
                <!-- Column 2 end -->
            </div>
        </div>
        <div class="col2">
            <!-- Column 1 start -->
            <h2>Gallery</h2>
           <div id="s3slider">
            <ul id="s3sliderContent">
              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/executable/minesweeper.png"),"https://s3.amazonaws.com/sepersonal_test/executable/minesweeper.png" %>
                <span>Win7 Minesweeper Cracker</span>
              </li>

              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/chess.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/chess.jpg" %>
                <span>3D Chinese Chess</span>
              </li>

              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/gaget.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/gaget.jpg" %>
                <span>Windows Gadget</span>
              </li>

              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_1_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_1.jpg" %>
                <span>Logic Analyzer Connected with MicaZ</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_2_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_2.jpg" %>
                <span>Debugging System</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_3_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_3.jpg" %>
                <span>NAND flash board</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_4_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_4.jpg" %>
                <span>Expansion board</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_5_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_5.jpg" %>
                <span>MicaZ, NAND flash, expansion board and MIB510</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_6_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_6.jpg" %>
                <span>Welded back of the energy test board</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_7_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_7.jpg" %>
                <span>Front of the energy test board</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_8_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_8.png" %>
                <span>Storage Structure</span>
              </li>
              <li class="s3sliderImage">
                 <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_9_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_9.png" %>
                <span>Logic analyzer debugging</span>
              </li>
              <li class="s3sliderImage">
                <%= link_to image_tag("https://s3.amazonaws.com/sepersonal_test/images/nand_10_t.jpg"),"https://s3.amazonaws.com/sepersonal_test/images/nand_10.jpg"%>
                <span>UART debugging</span>
              </li>
              <div class="clear s3sliderImage"></div>
            </ul>
          </div>
            <!-- Column 1 end -->
        </div>
    </div>
</div>

</body>


<script type="text/javascript">
    $('#nand').mouseover(function(){
    $("#more").load("nand.htm");


    return false;
    });
    $('#bestbay').mouseover(function(){
    $("#more").load("bestbay.htm");

    return false;
    });
    $('#head').mouseover(function(){
    $("#more").load("about.htm");

    return false;
    });

    $('#minesweeper').mouseover(function(){
    $("#more").load("minesweeper.htm");

    return false;
    });

    $('#chess').mouseover(function(){
    $("#more").load("chess.htm");

    return false;
    });

    $('#volume').mouseover(function(){
    $("#more").load("volume.htm");

    return false;
    });


    $(document).ready(function() {
      // Main Ads Slider
      $('#s3slider').s3Slider({
          timeOut: 4000
      });

      // Item Gallery
      $('#items_gallery').carouFredSel({
          prev : {
              button: "#gallery_prev",
              key: "left"
          },
          next : {
              button: "#gallery_next",
              key: "right"
          },
          scroll : {
              items: 1,
              duration: 500,
              pauseOnHover: true
          },
          pagination: "#gallery_pag"
      });
    });

    //  web tracker
    var _clustrmaps = {'url' : 'http://archerzhang.herokuapp.com', 'user' : 968760, 'server' : '3', 'id' : 'clustrmaps-widget', 'version' : 1, 'date' : '2011-12-31', 'lang' : 'en', 'corners' : 'square' };
    (function (){
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://www3.clustrmaps.com/counter/map.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
</script>