<!DOCTYPE html>
<html>
<head>
  <title>Gong Zhang</title>
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery', 'jquery.min', 'jquery_ujs', 's3Slider', 'jquery.carouFredSel-5.2.0-packed', 'jquery.dataTables' %>
  <%= csrf_meta_tags %>
</head>
<body>
        <%= yield %>

</body>
</html>
